
body{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    margin-top:0;
    font-size: 90px;
    
}

.adi{
    padding-top: 100px;
    background-color: #FFEEEE;
    /* height: 200px;
    width: 200px;
    border: 10px solid;
    padding: 20px;
    */
    position: relative;
}
.cloud{
   position: absolute;
   left: 300px;
   bottom:300px ;
}
.cloud2{
    position:absolute;
    right: 300px;
    top: 50px;
   
}
.box{
    /* background-color: aqua;
    height: 200px;
    width: 200px; */
    /* border: 20px solid black ;
    margin-left: 260px; */
    /* display: inline-block; */
    /* position: absolute;
    left: 0px;
    bottom: -41px; */
    
}

.apple{
    /* background-color: blueviolet;
    height: 200px;
    width: 200px; */
    /* border: 10px solid;
    margin-left: 500px; */
     /* display: inline-block; */
     /* position: absolute;
     left: 200px;
     bottom:-241px; */
    
}
.bsdk{
    /* position: relative;
    top: 50px; */
    /* height: 200px;
    width: 200px;
    background-color: #6D8B74;
    position: absolute;
    left: 400px;
    bottom: -441px; */
    height: 10px;
}
